@font-face {
  font-family: 'Roboto Condensed';
  src: url('./Roboto_Condensed-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./Roboto_Condensed-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* optional */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./Roboto_Condensed-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
